$font-size-sm: 12px;
$line-height-sm: 16px;
$letter-spacing-sm: -0.005em;

$font-size-md: 16px;
$line-height-md: 24px;
$letter-spacing-md: -0.01em;

$font-size-lg: 32px;
$line-height-lg: 48px;
$letter-spacing-lg: -0.01em;
