.form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
        text-align: center;
    }

    .input-wrap {
        margin-top: 8px;

        .input-field {
            margin-top: 4px;

            .marker {
                font-weight: 700;
            }

            input {
                width: 80%;
                margin-top: 8px;
                padding: 2px 4px;
                border: 1px solid $border;
                border-radius: 4px;
            }
        }

        .replace {
            margin-top: 16px;
            font-weight: 700;
        }

        .notice {
            margin-top: 8px;
            font-weight: 700;
            color: $accent;
        }
    }

    .submit {
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translate(-50%, -10%);
    }


    @include responsive(Tablet) {
        justify-content: left;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);               
        .input-wrap {
            width: 254px;
            .input-field {
                input {
                    width: 240px;
                }
            }
        }
        .submit{
            position: static;
            transform: unset;
            margin-top: 24px;
        }
    }
}